.contact {
    padding: 2rem 0;
}

.contact-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.contact-item {
    display: flex;
    align-items: center;
    max-width: 300px;
    width: 100%;
}

.contact-icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: #f39c12;
}

.contact-details {
    flex: 1;
}

.contact-link {
    color: #f39c12;
    text-decoration: none;
}

.delivery-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.delivery-btn {
    background-color: #f39c12;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.map-container {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .contact-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-info {
        flex: 1;
    }

    .map-container {
        flex: 1;
        margin-left: 2rem;
    }
}

@media (max-width: 480px) {
    /* .contact-info {
        flex-direction: row;
        justify-content:flex-start;
    } */

    .contact-title {
        font-size: 1.3rem;
        /* Giảm kích thước tiêu đề cho màn hình nhỏ */
    }

    .contact-item {
        max-width: 200px;
        /* Giảm chiều rộng tối đa cho màn hình nhỏ */
        font-size: 0.8rem;
        /* Giảm kích thước chữ cho màn hình nhỏ */
    }

    .contact-icon {
        font-size: 1.5rem;
    }

    .delivery-btn {
        border-radius: 20px;
        padding: 0.3rem 0.6rem;
        /* Giảm padding của nút cho màn hình nhỏ */
        padding: 0.3rem 0.6rem;
        /* Giảm padding của nút cho màn hình nhỏ */
        font-size: 0.8rem;
        /* Giảm kích thước chữ của nút cho màn hình nhỏ */
    }

    .map-container {
        margin-top: 1rem;
        /* Giảm khoảng cách trên bản đồ cho màn hình nhỏ */
    }
}